.competencies {
  padding-bottom: 150px;
}

.competencies__header {
  margin-bottom: 80px;
  text-shadow: 0px 0px 15px #ffffff;
}

.html-css::before,
.js::before,
.lib::before,
.react-native::before {
  margin-bottom: 15px;
}

.html-css::before {
  content: '';
  display: block;
  margin-left: 2px;
  width: 45px;
  height: 45px;
  background: url(../../resources/img/icons/html-icon.png) no-repeat;
}

.js::before {
  content: '';
  display: block;
  margin-left: 2px;
  width: 45px;
  height: 45px;
  background: url(../../resources/img/icons/js-icon.png) no-repeat;
}

.lib::before {
  content: '';
  display: block;
  margin-left: 2px;
  width: 45px;
  height: 45px;
  background: url(../../resources/img/icons/lib-icon.png) no-repeat;
}

.react-native::before {
  content: '';
  display: block;
  margin-left: 1px;
  width: 45px;
  height: 45px;
  background: url(../../resources/img/icons/react-native-icon.png) no-repeat;
}

.competencies__list {
  margin-bottom: 59.6px;
  flex-wrap: wrap;
  justify-content: start;
  row-gap: 40px;
  column-gap: 7px;
}

.competencies__item {
  width: calc(50% - 3.5px);
}

.competencies__name {
  margin-bottom: 15px;
  font-size: 35px;
  line-height: 46px;
  color: #971aff;
}

.competencies__item:last-child:nth-child(2n + 1) {
  width: auto;
  max-width: 70%;
}

.competencies__item-header {
  margin-bottom: 15px;
  font-size: 35px;
  line-height: 46px;
}

.competencies__description {
  font-size: 22px;
  line-height: 29px;
}

/* ----------------------------------------------------------------------------- */
@media (max-width: 1199px) {
  .competencies {
    padding-bottom: 120px;
  }

  .competencies__header {
    margin-bottom: 30px;
  }

  .competencies__list {
    row-gap: 36px;
    column-gap: 5px;
  }

  .competencies__item {
    width: calc(50% - 2.5px);
  }

  .competencies__item-header {
    margin-bottom: 25px;
    font-size: 35px;
    line-height: 48px;
  }

  .competencies__description {
    font-size: 20px;
    line-height: 27px;
  }
}

/* ----------------------------------------------------------------------------- */
@media (max-width: 767px) {
  .competencies {
    padding-bottom: 80px;
  }

  .competencies__header {
    margin-bottom: 22px;
  }

  .competencies__list {
    flex-direction: column;
    row-gap: 60px;
    column-gap: 0;
  }

  .competencies__item {
    width: 100%;
  }

  /* .competencies__item:last-child:nth-child(2n + 1) {
    margin-top: 8px;
  } */

  .competencies__item-header {
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 34px;
  }

  .competencies__description {
    font-size: 16px;
    line-height: 22px;
  }
}
