.competencies {
  padding-bottom: 150px;
}

.competencies__header {
  margin-bottom: 80px;
}

.html-css::before,
.js::before,
.lib::before,
.react-native::before {
  margin-bottom: 15px;
}

.html-css::before {
  content: '';
  display: block;
  margin-left: 2px;
  width: 45px;
  height: 45px;
  background: url(../../resources/img/icons/html-icon.png) no-repeat;
}

.js::before {
  content: '';
  display: block;
  margin-left: 2px;
  width: 45px;
  height: 45px;
  background: url(../../resources/img/icons/js-icon.png) no-repeat;
}

.lib::before {
  content: '';
  display: block;
  margin-left: 2px;
  width: 45px;
  height: 45px;
  background: url(../../resources/img/icons/lib-icon.png) no-repeat;
}

.react-native::before {
  content: '';
  display: block;
  margin-left: 1px;
  width: 45px;
  height: 45px;
  background: url(../../resources/img/icons/react-native-icon.png) no-repeat;
}

.competencies__list {
  flex-wrap: wrap;
  justify-content: start;
  row-gap: 40px;
  column-gap: 7px;
}

.competencies__item {
  width: calc(50% - 3.5px);
}

.competencies__name {
  margin-bottom: 15px;
  font-size: 35px;
  line-height: 46px;
  color: #971aff;
}

.competencies__item:last-child:nth-child(2n + 1) {
  width: auto;
  max-width: 70%;
}

.competencies__item-header {
  margin-bottom: 15px;
  font-size: 35px;
  line-height: 46px;
}

/* ----------------------------------------------------------------------------- */
@media (max-width: 1199px) {
  .competencies {
    padding-bottom: 120px;
  }

  .competencies__header {
    margin-bottom: 60px;
  }

  .competencies__list {
    row-gap: 36px;
    column-gap: 5px;
  }

  .competencies__item {
    width: calc(50% - 2.5px);
  }

  .html-css::before,
  .js::before,
  .lib::before,
  .react-native::before {
    margin-bottom: 10px;
  }

  .competencies__item-header {
    margin-bottom: 13px;
    font-size: 28px;
    line-height: 36px;
  }
}

/* ----------------------------------------------------------------------------- */
@media (max-width: 767px) {
  .competencies {
    padding-bottom: 100px;
  }

  .competencies__header {
    margin-bottom: 35px;
  }
  .competencies__list {
    row-gap: 60px;
    column-gap: 0;
  }

  .competencies__item {
    width: 100%;
  }

  .competencies__item-header {
    margin-bottom: 15px;
    font-size: 28px;
    line-height: 36px;
  }

  .competencies__description {
    font-size: 16px;
    line-height: 22px;
  }
}
