.header-gallery {
  margin-bottom: 150px;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.header-gallery::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.5) 100%
    )
    0 0 / cover no-repeat scroll;
}

.header-gallery__list {
  width: 100%;
}

.header-gallery__item {
  display: none;
}

.header-gallery__item_active {
  position: relative;
  display: block;
}

.header-gallery__img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.header-gallery__inner {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100vh;
  padding: 0 15px 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.header-gallery__what-i-do {
  margin-bottom: 28px;
  max-width: 443px;
  font-size: 20px;
  line-height: 26px;
}

.header-gallery__stand-out {
  font-size: 22px;
  color: yellow;
  text-shadow: 0px 0px 15px yellow, 0px 0px 5px yellow;
  cursor: url('../../resources/img/icons/cursor.cur'), auto;
  transition: 0.3s;
}

.header-gallery__stand-out:hover {
  font-size: 25px;
  line-height: 24px;
  letter-spacing: -0.095em;
  text-shadow: 0px 0px 15px yellow, 0px 0px 5px yellow, 0px 0px 20px yellow,
    0px 0px 10px yellow;
}

.header-gallery__who-am-i {
  margin-left: -6px;
  max-width: 1037px;
  font-size: 70px;
  line-height: 60px;
  color: #971aff;
  text-shadow: 0px 0px 20px #000000, 0px 0px 15px #971aff;
}

.jedai {
  text-shadow: 0px 0px 20px #000000, 0px 0px 20px #971aff, 0px 0px 15px #971aff,
    0px 0px 15px #971aff;
}

.box {
  width: 100%;
  height: 95px;
}

.header-gallery__buttons {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.header-gallery__button {
  cursor: pointer;
  transition: 0.4s;
  opacity: 0.8;
}

.header-gallery__button:hover {
  opacity: 0.4;
}

.header-gallery__button-img {
  width: 50px;
  height: 50px;
  color: #ffffff;
}

.header-gallery__button-back {
  transform: translateX(-25%);
}

.header-gallery__button-next {
  transform: rotate(180deg) translateX(-25%);
}

/* ----------------------------------------------------------------------------- */
@media (max-width: 1199px) {
  .first {
    object-position: 50% 55%;
  }
  .second {
    object-position: 50% 45%;
  }
  .third {
    object-position: 50% 55%;
  }

  .header-gallery {
    margin-bottom: 100px;
  }

  .header-gallery__about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .header-gallery__what-i-do {
    max-width: 80%;
  }

  .header-gallery__who-am-i {
    max-width: 100%;
    font-size: 40px;
    line-height: 45px;
  }
}

/* ----------------------------------------------------------------------------- */
@media (max-width: 767px) {
  .header-gallery__what-i-do {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 17px;
  }

  .header-gallery__stand-out {
    font-size: 18px;
  }
  .header-gallery__stand-out:hover {
    font-size: 20px;
  }

  .header-gallery__who-am-i {
    font-size: 25px;
    line-height: 27px;
  }
}

@media (max-width: 422px) or (max-height: 422px) {
  .header-gallery__what-i-do {
    margin-bottom: 10px;
    font-size: 11px;
    line-height: 13px;
  }

  .header-gallery__who-am-i {
    font-size: 20px;
    line-height: 22px;
  }
}

/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */

@media screen and (min-aspect-ratio: 4/3.5) and (min-width: 1199px) {
  .first {
    object-position: 50% 20%;
  }
  .second {
    object-position: 50% 0%;
  }
  .third {
    object-position: 50% 20%;
  }
}
@media screen and (min-aspect-ratio: 16/9) and (min-width: 1199px) {
  .first {
    object-position: 50% 10%;
  }
  .second {
    object-position: 50% 0%;
  }
  .third {
    object-position: 50% 10%;
  }
}

@media screen and (min-aspect-ratio: 4/3.5) and (max-width: 1199px) {
  .first {
    object-position: 50% 60%;
  }
  .second {
    object-position: 50% 36%;
  }
  .third {
    object-position: 50% 51%;
  }
  .header-gallery__what-i-do {
    margin-bottom: 15px;
    max-width: 100%;
  }
  .header-gallery__who-am-i {
    font-size: 35px;
    line-height: 37px;
  }
}
@media screen and (min-aspect-ratio: 16/9) and (max-width: 1199px) {
  .first {
    object-position: 50% 55%;
  }
  .second {
    object-position: 50% 36%;
  }
  .third {
    object-position: 50% 51%;
  }
  .header-gallery__what-i-do {
    margin-bottom: 10px;
    max-width: 100%;
    font-size: 17px;
    line-height: 20px;
  }
  .header-gallery__who-am-i {
    font-size: 28px;
    line-height: 30px;
  }
}

@media screen and (min-aspect-ratio: 4/3.5) and (max-width: 767px) {
  .first {
    object-position: 50% 60%;
  }
  .second {
    object-position: 50% 36%;
  }
  .third {
    object-position: 50% 60%;
  }
  .header-gallery__what-i-do {
    max-width: 100%;
  }
}
@media screen and (min-aspect-ratio: 16/9) and (max-width: 767px) {
  .first {
    object-position: 50% 57%;
  }
  .second {
    object-position: 50% 36%;
  }
  .third {
    object-position: 50% 57%;
  }
}

@media screen and (min-aspect-ratio: 4/3.5) and (max-width: 667px) {
  .first {
    object-position: 50% 60%;
  }
  .second {
    object-position: 50% 36%;
  }
  .third {
    object-position: 50% 57%;
  }
  .header-gallery__what-i-do {
    max-width: 100%;
  }
  .header-gallery__what-i-do {
    margin-bottom: 10px;
    max-width: 100%;
    font-size: 15px;
    line-height: 18px;
  }
  .header-gallery__who-am-i {
    font-size: 20px;
    line-height: 23px;
  }
}
