.services {
  padding-bottom: 150px;
}

.services__header {
  margin-bottom: 80px;
  max-width: 627px;
  text-shadow: 0px 0px 15px #ffffff;
}

.services__item:not(:last-child) {
  margin-bottom: 40px;
}

.services__item_other-mb {
  margin-bottom: 136px;
}

.services__img {
  width: 100%;
  height: 200px;
  border-radius: 30px;
  object-fit: cover;
}

.services__background {
  padding: 40px;
  height: fit-content;
  border-radius: 30px;
  display: flex;
  justify-content: left;
  column-gap: 70px;
  text-align: center;
  background: #191c19;
}

.services__item-header,
.services__description {
  width: calc(50% - 20px);
}

.services__item-header {
  font-size: 55px;
  line-height: 60.5px;
  color: #971aff;
  text-shadow: 0px 0px 15px #971aff;
}

/* ------------------------------------------------------------------------ */
@media (max-width: 1199px) {
  .services {
    padding-bottom: 110px;
  }

  .services__header {
    margin-bottom: 60px;
  }

  .services__img {
    height: 162px;
  }

  .services__background {
    padding: 30px;
    column-gap: 44px;
  }

  .services__item-header {
    font-size: 45px;
    line-height: 50px;
  }
}

.services__terms-bg {
  margin-top: 31px;
  margin-left: 30px;
}

.services__terms {
  padding: 6px 27px;
  font-size: 20px;
  line-height: 27px;
}

/* ------------------------------------------------------------------------ */
@media (max-width: 767px) {
  .services {
    padding-bottom: 100px;
  }

  .services__header {
    margin-bottom: 35px;
    max-width: 100%;
  }

  .services__item:not(:last-child) {
    margin-bottom: 60px;
  }

  .services__img {
    height: 225px;
  }

  .services__background {
    padding: 30px 15px;
    flex-direction: column;
    align-items: center;
    column-gap: 0px;
    row-gap: 15px;
  }

  .services__item-header,
  .services__description {
    max-width: 525px;
    width: 100%;
  }

  .services__item-header {
    font-size: 35px;
    line-height: 39px;
  }

  .services__terms-bg {
    margin-top: 23px;
    margin-left: 25px;
  }

  .services__terms {
    padding: 5px 24px;
    font-size: 14px;
    line-height: 19px;
    border-radius: 3.8px;
  }
}
