.burger {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  background: rgba(0, 0, 0, 0.7);
  z-index: 200;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
}
.burger_open {
  opacity: 1;
  visibility: visible;
}
.burger__content-panel {
  position: relative;
  padding: 79px 65px 5px 30px;
  width: 362px;
  height: 100%;
  color: #ffffff;
  background: #000000;
  overflow-y: auto;
  overflow-x: hidden;
  transition: transform, 0.4s ease-in-out;
  transform: translateX(100%);
  box-shadow: 0px 0px 30px #ffffff, 0px 0px 50px #ffffff;
}
.burger_open .burger__content-panel {
  transform: translateX(0%);
}
.burger__btn {
  display: none;
  cursor: pointer;
}

.burger__arrow-list {
  width: 39px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 30%;
}

.burger__arrow-item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.burger__arrow {
  width: 100%;
  height: auto;
  background: #000000;
  border-radius: 10px;
  box-shadow: 0px 0px 0.6px #ffffff, 0px 0px 20px #971aff, 0px 0px 10px #971aff,
    0px 0px 25px #971aff, 0px 0px 10px #971aff;
  transition: 0.3s;
}

.burger__btn:hover .burger__arrow {
  box-shadow: 0px 0px 20px #971aff, 0px 0px 10px #971aff, 0px 0px 25px #971aff,
    0px 0px 20px #971aff, 0px 0px 20px #971aff, 0px 0px 20px #971aff;
}

.burger__btn_open {
  z-index: 100;
  opacity: 0;
}

.burger__close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  font-size: 50px;
  line-height: 50px;
  z-index: 300;
  color: #971aff;
  text-shadow: 0px 0px 0.05px #ffffff, 0px 0px 20px #971aff,
    0px 0px 15px #971aff, 0px 0px 15px #971aff;
  transition: 0.3s;
  cursor: pointer;
}

.burger__close-btn:hover {
  text-shadow: 0px 0px 0.05px #ffffff, 0px 0px 25px #971aff,
    0px 0px 25px #971aff, 0px 0px 20px #971aff, 0px 0px 20px #971aff;
}

.burger__surname {
  margin-bottom: 44px;
}

.burger__nav-list {
  display: flex;
  flex-direction: column;
  row-gap: 21px;
  margin-bottom: 91px;
}

.burger__link,
.burger__communication-item {
  text-shadow: 0px 0px 1px #ffffff, 0px 0px 5px #ffffff;
  cursor: pointer;
  transition: 0.3s;
}

.burger__link:hover,
.burger__communication-item:hover {
  text-shadow: 0px 0px 5px #ffffff, 0px 0px 10px #ffffff, 0px 0px 20px #ffffff;
}

.burger__link {
  font-size: 25px;
  line-height: 34px;
  text-transform: uppercase;
}

.burger__for-communication {
  font-size: 20px;
  line-height: 20px;
  color: #971aff;
  text-shadow: 0px 0px 1px #971aff;
}

.burger__communication-item {
  width: fit-content;
  font-size: 20px;
  line-height: 46px;
}

/* .burger__contacts-header {
  margin-left: 2px;
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 22px;
  opacity: 0.5;
}
.burger__tel,
.burger__mail {
  margin-left: 2px;
  margin-bottom: 10px;
  width: fit-content;
  font-size: 20px;
  line-height: 20px;
  display: block;
  text-decoration: none;
  border-bottom: 1px solid #000000;
  transition: 0.4s;
}
.burger__tel:hover,
.burger__mail:hover {
  border-bottom: 1px solid #ffffff;
  opacity: 0.5;
} */

/* ----------------------------------------------------------------------------- */
@media (max-width: 1199px) {
  .burger__btn {
    display: block;
  }
}

/* ----------------------------------------------------------------------------- */
@media (max-width: 767px) {
  .burger__btn {
    top: 19px;
    right: 12px;
    width: 38px;
    height: 38px;
  }
  .burger__btn_open {
    top: 19px;
    right: 20px;
    width: 35px;
    height: 35px;
  }
}
