.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 95px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  justify-content: center;
}

.header_active {
  background: rgba(0, 0, 0, 0.7);
}

.header__nav-container {
  width: 100%;
  padding: 0 15px;
}

.header__nav {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.header__surname-bg {
  width: fit-content;
  height: 39px;
  display: flex;
  background: #000000;
  border-radius: 100px;
  box-shadow: 0px 0px 15px #971aff, 0px 0px 5px #971aff, 0px 0px 20px #971aff,
    0px 0px 10px #971aff;
  transition: 0.35s;
}

.header__surname-bg:hover {
  box-shadow: 0px 0px 15px #971aff, 0px 0px 5px #971aff, 0px 0px 20px #971aff,
    0px 0px 10px #971aff, 0px 0px 10px #971aff, 0px 0px 25px #971aff;
}

.header__surname {
  padding-top: 10px;
  padding-right: 17px;
  padding-bottom: 11px;
  padding-left: 10px;
  display: block;
  font-size: 42px;
  line-height: 42px;
  font-weight: 700;
  letter-spacing: -0.11em;
  text-transform: uppercase;
  color: #971aff;
}

.header__prank-img-container {
  position: absolute;
  top: 0;
  left: 50%;
  opacity: 0.2;
  transform: translateX(-100%);
  visibility: hidden;
  z-index: 9999;
}

.header__prank-img {
  width: 200%;
  object-fit: contain;
}

.header__prank:active .header__prank-img-container {
  visibility: visible;
}

.header__nav-container {
  position: relative;
}

.header__nav-list {
  width: 503px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__link {
  display: block;
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.4s;
  text-shadow: 0px 0px 10px #971aff, 0px 0px 5px #971aff;
}

.header__link:hover {
  color: #c177ff;
  font-size: 18px;
  font-weight: 700;
  text-shadow: 0px 0px 10px #000000, 0px 0px 15px #971aff, 0px 0px 5px #971aff;
}

/* ------------------------------------------------------------------------ */
@media (max-width: 1199px) {
  .header__nav-list {
    display: none;
  }
}

/* ------------------------------------------------------------------------ */
@media (max-width: 767px) {
  /* f */
}
